/*bordes de la tabla fuera*/
#tabla{
    border-collapse: collapse;
    margin-left: 350px;
    
}
/*bordes negros de la clase ttd*/
.ttd{
    border:1px solid black;
}
/*comentario en archivo css*/
.tth{
    background-color: gray;
    border: 1px solid black;
    font-weight: bold;
}
#titulo{
    color: red;
    text-align: center;
    font-weight: bold;
}