/*1. color general de la lletra negra*/
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:#000000;
}

/*2. titol nivell 1 fons blanc lletra gris*/
#titol-pagina{
    background-color: white;
    color: gray;
}

/*3. tots els strong en color verd i subratllats*/
strong{
    color: green;
    text-decoration: underline;

}

/*4. enllaços del paràgraf2 en italica*/
.paragraf2 a {
    font-style: italic;
}

/*5. footer general del web centrat i lletra de 10px*/
footer{
    text-align: center;
    font-size: 10px;
}

/*6. Canvia l'ordre de càrrega dels fitxers i mira què passa. Sabries modificar el teu codi per a que se seguís veient igual que abans de canviar l'ordre?*/
/* Para canviar el orden de carga en los archivos CSS , solo hay que canviar el orden en el que esta añadadio los archivos en el HTML el ultimo es el que tiene mas peso para hacer canvios/*
/*a : No se ve ningun canvio al intercanviar el orden , el codigo de este documento prevalece al orden ya que tiene mas peso jerarquicamente en el orden de CSS .Hemos canviado el orden de archivos y salia igual /*
/* b : el css ya cumple con los requisitos /*

